In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_event = pd.read_csv('../datadays2020/event.csv')
df_event.head()

   displayId      timestamp   pageId  widgetId   userId  device  OS  browser
0    4706262  1578429005696  3543873      6262  2688642       0   0        0
1    4706267  1578429007726  6245475       607  2688641       1   3        0
2    4706260  1578429012060  4416499     11458  2688638       0   0        1
3    4706255  1578429017218  6246028      9358  1962852       0   0        0
4    4706256  1578429021388  5327047      9358  2687719       0   0        0

In [5]:
"{} \n {}".format(len(df_event['browser'].unique()) , len(df_event['OS'].unique()))

'80 \n 8'

In [33]:
df_event  = df_event[['displayId' , 'device' , 'OS']]
df_event.head()

   displayId  device  OS
0    4706262       0   0
1    4706267       1   3
2    4706260       0   0
3    4706255       0   0
4    4706256       0   0

In [43]:
#one hot encoder
# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 

# creating one hot encoder object with categorical feature 0 
# indicating the first column 
onehotencoder = OneHotEncoder(categorical_features = [1,2]) 
data = onehotencoder.fit_transform(df_event).toarray()

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [45]:
data.shape

(1083071, 13)

In [13]:
dfevent = pd.read_csv('../datadays2020/event.csv')
dftrain = pd.read_csv('../datadays2020/click_train.csv')
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfevent , on='displayId' , how='left')
after = len(dftrain)
assert prev == after
dfweb = pd.read_csv('../datadays2020/page.csv')
dftopic = pd.read_csv('../datadays2020/page_topic.csv')
dfad = pd.read_csv('../datadays2020/ad.csv')
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfweb , on='pageId' , how='left')
after = len(dftrain)
assert prev == after
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfad , on='adId' , how='left')
after = len(dftrain)
assert prev == after

dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528

In [14]:
features =['userId' ,'adId' , 'widgetId' , 'website']
column_names = ['userId' ,'adId' , 'widgetId' , 'website']

In [15]:
import random

In [19]:
random.choices([0,1],weights=[0.5,0.1])

[1]

In [24]:
dftrainX = dftrain[features+['displayId']]
#dftrain['clicked'] = dftrain['clicked_x'] 
dftrainY = dftrain[['displayId' , 'adId' , 'clicked' , 'probability']]

In [21]:
ul=[]
def add_to(x):
    ul.append(x)
    return 1
ep=0.1
k = 2
#temp=dftrainY['displayId'].value_counts()
#temp.index=temp.index.astype(str)
#td = temp.to_dict()
#dftrainY['displayId'] = dftrainY['displayId'].astype(str)

#df['displayId'] = df['displayId'].astype(int)

#dftrainY['Frecuency'] = dftrainY['displayId'].apply(lambda x : td.get(x) if td.get(x)!=None else add_to(x))


dftrain["probability"] = (1-ep)*dftrain["clicked"]+ep/k

#print(df.head(5))

In [22]:
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,probability
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,0.05
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971,0.05
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,0.05
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419,0.05
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528,0.95

In [26]:
dftrainX.head()

   userId  adId  widgetId  website  displayId
0  782749  7182      9519      477    1210227
1  782749  7125      9519      477    1210227
2  782749  7181      9519      477    1210227
3  782749   535      9519      477    1210227
4  782749  7174      9519      477    1210227

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    dftrainX, dftrainY, test_size=0.33, random_state=43)

In [30]:
def create_real_train(features,column_names,x_train , word_prob=None):
    if word_prob!=None:
        features.remove('words')
    count=0;
    n = len(x_train)
    print(n)
    dfdummy = pd.DataFrame(columns = column_names)
    featuregroups = {}
    for f in features:
        featuregroups[f] = dftrain.groupby(f).mean()['clicked']
    temps=[]
    for i,r in x_train.iterrows():
        count+=1
        if(count%100000==0):
            print("--{}--".format(count/n))
        temp=[]
        for f in features:
            tr = featuregroups[f].get(r[f])
            #print(tr)
            #print('---------{}-----'.format(r[f]))
            temp.append(tr if tr!=None else 0)
        if word_prob !=None:
            p=[]
            for w in r['words'].split():
                p.append(word_prob.get(w) if w in word_prob else 0)
            if len(p)!=0:
                temp.append(max(p))
            else:
                temp.append(0)
        temps.append(temp)
    dfdummy=dfdummy.append(pd.DataFrame(temps, columns=column_names) , ignore_index=True)
    return dfdummy

In [31]:
X = create_real_train(features[:] , column_names , X_train)

2440303
--0.040978517831597144--
--0.08195703566319429--
--0.12293555349479142--
--0.16391407132638858--
--0.20489258915798572--
--0.24587110698958284--
--0.28684962482118--
--0.32782814265277715--
--0.36880666048437427--
--0.40978517831597144--
--0.45076369614756856--
--0.4917422139791657--
--0.5327207318107628--
--0.57369924964236--
--0.6146777674739571--
--0.6556562853055543--
--0.6966348031371514--
--0.7376133209687485--
--0.7785918388003457--
--0.8195703566319429--
--0.86054887446354--
--0.9015273922951371--
--0.9425059101267342--
--0.9834844279583314--

In [32]:
X.head()

     userId      adId  widgetId   website
0  0.250000  0.137931  0.171084  0.248172
1  0.125000  0.265478  0.199803  0.223844
2  0.181818  0.264923  0.186468  0.233662
3  0.222222  0.192771  0.196379  0.242425
4  0.250000  0.212630  0.319160  0.215224

In [36]:
X=X.join(df_event)

In [41]:
X['device']=X['device'].fillna(5)
X['OS'] = X['OS'].fillna(9)

In [42]:
X['OS'] = X['OS'].astype(int)
X['device'] = X['device'].astype(int)
X.head()

     userId      adId  widgetId   website  displayId  device  OS
0  0.250000  0.137931  0.171084  0.248172  4706262.0       0   0
1  0.125000  0.265478  0.199803  0.223844  4706267.0       1   3
2  0.181818  0.264923  0.186468  0.233662  4706260.0       0   0
3  0.222222  0.192771  0.196379  0.242425  4706255.0       0   0
4  0.250000  0.212630  0.319160  0.215224  4706256.0       0   0

In [49]:
X.isna().any()

userId       False
adId         False
widgetId     False
website      False
displayId     True
device       False
OS           False
dtype: bool

In [54]:
index = X['displayId'].index[X['displayId'].apply(np.isnan)]

In [60]:
X.head()

     userId      adId  widgetId   website  displayId  device  OS
0  0.250000  0.137931  0.171084  0.248172  4706262.0       0   0
1  0.125000  0.265478  0.199803  0.223844  4706267.0       1   3
2  0.181818  0.264923  0.186468  0.233662  4706260.0       0   0
3  0.222222  0.192771  0.196379  0.242425  4706255.0       0   0
4  0.250000  0.212630  0.319160  0.215224  4706256.0       0   0

In [63]:
X=X.drop('displayId' , axis=1)

In [51]:
len(X) == len(X_train)

True

In [65]:
onehotencoder = OneHotEncoder(categorical_features = [4 , 5]) 
Xnp = onehotencoder.fit_transform(X).toarray()

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [74]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor().fit(Xnp,y_train['probability'])

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [75]:
clf.score(Xnp,y_train['probability'])

0.31600173125862463

## All out clustering

In [77]:
dftrain.head()
dft = dftrain.iloc[:,[True , True , False , True , True , ]]

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId,probability
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,0.05
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971,0.05
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579,0.05
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419,0.05
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528,0.95

In [78]:
'''Trains a simple deep NN on the MNIST dataset.
Gets to 98.40% test accuracy after 20 epochs
(there is *a lot* of margin for parameter tuning).
2 seconds per epoch on a K520 GPU.
'''

from __future__ import print_function

import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop

batch_size = 128
num_classes = 10
epochs = 20

# the data, split between train and test sets
(x_train, y_train), (x_test, y_test) = mnist.load_data()

x_train = x_train.reshape(60000, 784)
x_test = x_test.reshape(10000, 784)
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
x_train /= 255
x_test /= 255
print(x_train.shape[0], 'train samples')
print(x_test.shape[0], 'test samples')

# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(784,)))
model.add(Dropout(0.2))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(num_classes, activation='softmax'))

model.summary()

model.compile(loss='categorical_crossentropy',
              optimizer=RMSprop(),
              metrics=['accuracy'])

history = model.fit(x_train, y_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=1,
                    validation_data=(x_test, y_test))
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Using TensorFlow backend.

Downloading data from https://s3.amazonaws.com/img-datasets/mnist.npz
11493376/11490434 [==============================] - 6s 0us/step
60000 train samples
10000 test samples
Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 512)               401920
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_2 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                5130
=================================================================
Total params: 669,706
Trainable params: 669,706
Non-trainable params: 0
_________________________________________________________________
Train on 60000 samples, validate on 10000 samples
Epoch 1/20
60000/60000 [==============================] - 6s 107us/step - loss: 0.2459 - accuracy: 0.9248 - val_loss: 0.1285 - val_accuracy: 0.9582
Epoch 2/20
60000/60000 [==============================] - 6s 93us/step - loss: 0.1030 - accuracy: 0.9688 - val_loss: 0.0892 - val_accuracy: 0.9733
Epoch 3/20
60000/60000 [==============================] - 6s 94us/step - loss: 0.0747 - accuracy: 0.9770 - val_loss: 0.0757 - val_accuracy: 0.9777
Epoch 4/20
60000/60000 [==============================] - 6s 93us/step - loss: 0.0601 - accuracy: 0.9812 - val_loss: 0.0724 - val_accuracy: 0.9794
Epoch 5/20
60000/60000 [==============================] - 6s 93us/step - loss: 0.0500 - accuracy: 0.9851 - val_loss: 0.0827 - val_accuracy: 0.9788
Epoch 6/20
60000/60000 [==============================] - 6s 97us/step - loss: 0.0446 - accuracy: 0.9872 - val_loss: 0.0741 - val_accuracy: 0.9809
Epoch 7/20
60000/60000 [==============================] - 6s 96us/step - loss: 0.0381 - accuracy: 0.9889 - val_loss: 0.0732 - val_accuracy: 0.9834
Epoch 8/20
60000/60000 [==============================] - 6s 100us/step - loss: 0.0348 - accuracy: 0.9897 - val_loss: 0.0892 - val_accuracy: 0.9806
Epoch 9/20
60000/60000 [==============================] - 6s 93us/step - loss: 0.0323 - accuracy: 0.9909 - val_loss: 0.0869 - val_accuracy: 0.9799
Epoch 10/20
60000/60000 [==============================] - 6s 93us/step - loss: 0.0297 - accuracy: 0.9912 - val_loss: 0.0901 - val_accuracy: 0.9825
Epoch 11/20
60000/60000 [==============================] - 6s 92us/step - loss: 0.0277 - accuracy: 0.9919 - val_loss: 0.1058 - val_accuracy: 0.9823
Epoch 12/20
60000/60000 [==============================] - 6s 97us/step - loss: 0.0266 - accuracy: 0.9928 - val_loss: 0.0943 - val_accuracy: 0.9842
Epoch 13/20
60000/60000 [==============================] - 6s 95us/step - loss: 0.0239 - accuracy: 0.9932 - val_loss: 0.1072 - val_accuracy: 0.9830
Epoch 14/20
60000/60000 [==============================] - 6s 100us/step - loss: 0.0233 - accuracy: 0.9934 - val_loss: 0.0980 - val_accuracy: 0.9816
Epoch 15/20
60000/60000 [==============================] - 6s 100us/step - loss: 0.0223 - accuracy: 0.9941 - val_loss: 0.1036 - val_accuracy: 0.9840
Epoch 16/20
60000/60000 [==============================] - 6s 98us/step - loss: 0.0216 - accuracy: 0.9945 - val_loss: 0.1200 - val_accuracy: 0.9826
Epoch 17/20
60000/60000 [==============================] - 5s 91us/step - loss: 0.0202 - accuracy: 0.9947 - val_loss: 0.1085 - val_accuracy: 0.9853
Epoch 18/20
60000/60000 [==============================] - 5s 90us/step - loss: 0.0200 - accuracy: 0.9948 - val_loss: 0.1067 - val_accuracy: 0.9843
Epoch 19/20
60000/60000 [==============================] - 6s 94us/step - loss: 0.0181 - accuracy: 0.9952 - val_loss: 0.1267 - val_accuracy: 0.9837
Epoch 20/20
60000/60000 [==============================] - 6s 95us/step - loss: 0.0179 - accuracy: 0.9952 - val_loss: 0.1204 - val_accuracy: 0.9827
Test loss: 0.1203936983227685
Test accuracy: 0.982699990272522

In [90]:
batch_size = 128
num_classes = 2
epochs = 5
#y_train = keras.utils.to_categorical(y_train['clicked'].values, num_classes)
#y_test = keras.utils.to_categorical(y_test, num_classes)
model = Sequential()
model.add(Dense(102, activation='relu', input_shape=(18,)))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(8, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

model.summary()

model.compile(loss='categorical_crossentropy',
              optimizer=RMSprop(),
              metrics=['accuracy'])

history = model.fit(Xnp, y_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=1)
score = model.evaluate(Xnp, y_train, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 512)               9728
_________________________________________________________________
dropout_5 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_8 (Dense)              (None, 128)               65664
_________________________________________________________________
dropout_6 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_9 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_10 (Dense)             (None, 32)                2080
_________________________________________________________________
dropout_7 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_11 (Dense)             (None, 8)                 264
_________________________________________________________________
dense_12 (Dense)             (None, 2)                 18
=================================================================
Total params: 86,010
Trainable params: 86,010
Non-trainable params: 0
_________________________________________________________________
Epoch 1/5
 965120/2440303 [==========>...................] - ETA: 41s - loss: 0.5025 - accuracy: 0.7782

KeyboardInterrupt:

In [87]:
y_train['clicked'].values

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
18