In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dftrain = pd.read_csv('../datadays2020/click_train.csv')
dfevent = pd.read_csv('../datadays2020/event.csv')

dftrain.head()

   displayId  adId  clicked
0    1210227  7182        0
1    1210227  7125        0
2    1210227  7181        0
3    1210227   535        0
4    1210227  7174        1

In [4]:
dftrain = pd.merge(dftrain , dfevent , on='displayId' , how='left')
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1