In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Lets Calculate Probability

In [3]:
dfevent = pd.read_csv('../datadays2020/event.csv')
dfevent.head()

   displayId      timestamp   pageId  widgetId   userId  device  OS  browser
0    4706262  1578429005696  3543873      6262  2688642       0   0        0
1    4706267  1578429007726  6245475       607  2688641       1   3        0
2    4706260  1578429012060  4416499     11458  2688638       0   0        1
3    4706255  1578429017218  6246028      9358  1962852       0   0        0
4    4706256  1578429021388  5327047      9358  2687719       0   0        0

In [4]:
dftrain = pd.read_csv('../datadays2020/click_train.csv')

In [5]:
dftrain.head()

   displayId  adId  clicked
0    1210227  7182        0
1    1210227  7125        0
2    1210227  7181        0
3    1210227   535        0
4    1210227  7174        1

In [6]:
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfevent , on='displayId' , how='left')
after = len(dftrain)
assert prev == after
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1

In [7]:
dfweb = pd.read_csv('../datadays2020/page.csv')
dftopic = pd.read_csv('../datadays2020/page_topic.csv')

In [8]:
dfweb.head()

   pageId  website  publisher
0       1        0          0
1       3        1          1
2       4        2          2
3       5        3          3
4       6        4          4

In [9]:
dftopic.head()

     pageId  topicId  confidence
0  10743259       37    0.497099
1  10743259       23    0.016994
2  10743259       10    0.371499
3  10743259        4    0.105349
4  10743258       33    0.245752

In [10]:
dfad = pd.read_csv('../datadays2020/ad.csv')
dfad.head()

   adId  campaignId  advertiserId
0  7867        5918          8414
1  7866        5918          8414
2  7865        5918          8414
3  7863        8343          8414
4  7862        8343          8414

In [11]:
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfweb , on='pageId' , how='left')
after = len(dftrain)
assert prev == after
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49

In [12]:
prev = len(dftrain)
dftrain = pd.merge(dftrain , dfad , on='adId' , how='left')
after = len(dftrain)
assert prev == after
dftrain.head()

,displayId,adId,clicked,timestamp,pageId,widgetId,userId,device,OS,browser,website,publisher,campaignId,advertiserId
0,1210227,7182,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579
1,1210227,7125,0,1579598863403,420857,9519,782749,0,0,1,477,49,251,5971
2,1210227,7181,0,1579598863403,420857,9519,782749,0,0,1,477,49,3402,7579
3,1210227,535,0,1579598863403,420857,9519,782749,0,0,1,477,49,3186,1419
4,1210227,7174,1,1579598863403,420857,9519,782749,0,0,1,477,49,471,5528

In [96]:
features = ['pageId' , 'userId' ,'adId','advertiserId' , 'campaignId' , 'widgetId'  ]
column_names = ['pageId' , 'userId' ,'adId','advertiserId' , 'campaignId'  , 'widgetId']

In [34]:
dftrainX = dftrain[features+['displayId']]
dftrainY = dftrain[['displayId' , 'adId' , 'clicked']]

In [35]:
dftrainX.head()

,pageId,userId,adId,advertiserId,campaignId,website,publisher,widgetId,displayId
0,420857,782749,7182,7579,3402,477,49,9519,1210227
1,420857,782749,7125,5971,251,477,49,9519,1210227
2,420857,782749,7181,7579,3402,477,49,9519,1210227
3,420857,782749,535,1419,3186,477,49,9519,1210227
4,420857,782749,7174,5528,471,477,49,9519,1210227

In [38]:
dftrainY.head()

   displayId  adId  clicked
0    1210227  7182        0
1    1210227  7125        0
2    1210227  7181        0
3    1210227   535        0
4    1210227  7174        1

In [17]:
temp=dftrainY['displayId'].value_counts()

In [18]:
temp.index=temp.index.astype(str)

In [19]:
td = temp.to_dict()

In [20]:
dftrainY['displayId'] = dftrainY['displayId'].astype(str)

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
ul=[]
def add_to(x):
    ul.append(x)
    return 1

In [86]:
dftrainY.head()

   displayId  adId  clicked  Frecuency  probability
0    1210227  7182        0          1          0.5
1    1210227  7125        0          1          0.5
2    1210227  7181        0          1          0.5
3    1210227   535        0          1          0.5
4    1210227  7174        1          1          1.0

In [39]:


#df['displayId'] = df['displayId'].astype(int)

dftrainY['Frecuency'] = dftrainY['displayId'].apply(lambda x : td.get(x) if td.get(x)!=None else add_to(x))


dftrainY["clicked"] += 1

dftrainY["probability"] = dftrainY["clicked"]/(dftrainY["Frecuency"]*2)

#print(df.head(5))

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

## Some ML

In [36]:
def create_real_train(features,column_names,x_train):
    count=0;
    n = len(x_train)
    print(n)
    dfdummy = pd.DataFrame(columns = column_names)
    featuregroups = {}
    for f in features:
        featuregroups[f] = dftrain.groupby(f).mean()['clicked']
    temps=[]
    for i,r in x_train.iterrows():
        count+=1
        if(count%100000==0):
            print("--{}--".format(count/n))
        temp=[]
        for f in features:
            tr = featuregroups[f].get(r[f])
            #print(tr)
            temp.append(tr if tr!=None else 0)
        temps.append(temp)
    dfdummy=dfdummy.append(pd.DataFrame(temps, columns=column_names) , ignore_index=True)
    return dfdummy

In [25]:
"{}-{}".format(len(dftrainX),len(dftrainY))

'3642244-3642244'

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    dftrainX, dftrainY, test_size=0.33, random_state=40)

In [70]:
y_test.head()

         displayId  adId  clicked  Frecuency  probability
2282800    3574127  5894        1          1          0.5
1391896    2807552  6297        2          1          1.0
2930660    4123282  3565        1          1          0.5
3277130    4413315  5540        2          1          1.0
1479623    2869000  4179        1          1          0.5

In [41]:
X = create_real_train(features , column_names , X_train)

2440303
--0.040978517831597144--
--0.08195703566319429--
--0.12293555349479142--
--0.16391407132638858--
--0.20489258915798572--
--0.24587110698958284--
--0.28684962482118--
--0.32782814265277715--
--0.36880666048437427--
--0.40978517831597144--
--0.45076369614756856--
--0.4917422139791657--
--0.5327207318107628--
--0.57369924964236--
--0.6146777674739571--
--0.6556562853055543--
--0.6966348031371514--
--0.7376133209687485--
--0.7785918388003457--
--0.8195703566319429--
--0.86054887446354--
--0.9015273922951371--
--0.9425059101267342--
--0.9834844279583314--

In [42]:
X.to_csv('../temp/traintemp.csv')

In [43]:
X = pd.read_csv('../temp/traintemp.csv')

In [44]:
X.head()

,Unnamed: 0,pageId,userId,adId,advertiserId,campaignId,website,publisher,widgetId
0,0,0.250000,0.217391,0.424315,0.233979,0.424315,0.205638,0.205638,0.215686
1,1,0.241379,0.333333,0.214671,0.205123,0.182972,0.223844,0.217140,0.323972
2,2,0.214101,0.125000,0.226177,0.245101,0.245101,0.224455,0.224455,0.171948
3,3,0.151376,0.156250,0.250124,0.232260,0.227522,0.149209,0.149209,0.149209
4,4,0.182406,0.125000,0.122507,0.205123,0.182972,0.172788,0.172788,0.145185

In [97]:
X = X[features]

In [98]:
X.head()

     pageId    userId      adId  advertiserId  campaignId  widgetId
0  0.250000  0.217391  0.424315      0.233979    0.424315  0.215686
1  0.241379  0.333333  0.214671      0.205123    0.182972  0.323972
2  0.214101  0.125000  0.226177      0.245101    0.245101  0.171948
3  0.151376  0.156250  0.250124      0.232260    0.227522  0.149209
4  0.182406  0.125000  0.122507      0.205123    0.182972  0.145185

In [85]:
y_train.head(20)

         displayId  adId  clicked  Frecuency  probability
3491420    4608597  5209        2          1          1.0
687541     2022587  5780        2          1          1.0
1927360    3281513   517        1          1          0.5
539276     1895734  6192        1          1          0.5
2565726    3816446  5771        1          1          0.5
1152971    2557522  6278        1          1          0.5
3302996    4435973  2679        2          1          1.0
1194334    2601202  5021        1          1          0.5
70991      1384540  6386        1          1          0.5
767433     2131502  6643        1          1          0.5
1553521    2924528  4611        1          1          0.5
2516110    3747810    28        1          1          0.5
5790       1333423  2679        2          1          1.0
311992     1620557  6965        1          1          0.5
13922      1340501   535        2          1          1.0
2730241    3912559  1395        1          1          0.5
1875018    3216749  5891        1          1          0.5
1654856    3049282  6246        1          1          0.5
178725     1471571  7003        1          1          0.5
3226799    4379632   552        1          1          0.5

In [59]:
dftrainY["clicked"] -= 1

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
from sklearn.ensemble import BaggingRegressor
#from sklearn.linear_model import 
clf = BaggingRegressor().fit(X,y_train['probability'])

In [176]:

import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.autograd import Variable

class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.layer1 = torch.nn.Linear(len(features) , 32)
        self.layer2 = torch.nn.Linear(32 , 16)
        self.layer3 = torch.nn.Linear(16 , 8)
        self.layer4 = torch.nn.Linear(8 , 1)

    def forward(self, x):
        x = self.layer1(x) 
        x = F.tanh(x)
        x = self.layer2(x)
        x = F.tanh(x)
        x = self.layer3(x)
        x = F.tanh(x)
        x = self.layer4(x)
        x = F.softmax(x)
        return x

net = Net()
print(net)

Net(
  (layer1): Linear(in_features=6, out_features=32, bias=True)
  (layer2): Linear(in_features=32, out_features=16, bias=True)
  (layer3): Linear(in_features=16, out_features=8, bias=True)
  (layer4): Linear(in_features=8, out_features=1, bias=True)
)

In [150]:
optimizer = torch.optim.SGD(net.parameters(), lr=0.2)
loss_func = torch.nn.MSELoss()

3

In [152]:
x = torch.from_numpy(X.values).float()
y = torch.from_numpy(y_train['probability'].values).float()

(2440303, 6)

In [ ]:
inputs = Variable(x)
outputs = Variable(y)
for i in range(250):
    prediction = net(inputs)
    print(prediction)
    loss = loss_func(prediction, outputs) 
    print(loss)
    optimizer.zero_grad()
    print('after oz')
    loss.backward()
    print("after back")
    optimizer.step()       

    if i % 10 == 0:
    # plot and show learning process
        plt.cla()
        plt.scatter(x.data.numpy(), y.data.numpy())
        plt.plot(x.data.numpy(), prediction.data.numpy(), 'r-', lw=2)
        plt.text(0.5, 0, 'Loss=%.4f' % loss.data.numpy(), fontdict={'size': 10, 'color':  'red'})
        plt.pause(0.1)

plt.show()

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:23: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.

tensor([[1.],
        [1.],
        [1.],
        ...,
        [1.],
        [1.],
        [1.]], grad_fn=<SoftmaxBackward>)

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\torch\nn\modules\loss.py:443: UserWarning: Using a target size (torch.Size([2440303])) that is different to the input size (torch.Size([2440303, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

In [143]:
w1=[]
for layer in model.layers:
    weights = layer.get_weights()
    w1.append(weights)

In [145]:
w2=[]
for layer in model.layers:
    weights = layer.get_weights()
    w2.append(weights)

In [135]:
def weighted_change(w1 , w2 ):
    s=[]
    for i in range(len(w1)):
        t=0
        for j in range(len(w1[i])):
            t += np.linalg.norm(w1[i][j] - w2[i][j])
        s.append(t)
    return s

In [146]:
s = weighted_change(w1 , w2)

In [147]:
s

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [138]:
import pytorch

ModuleNotFoundError: No module named 'pytorch'

In [103]:
clf.score(X , y_train['probability'])

0.5218435255179873

In [65]:
Xt = create_real_train(features , column_names , X_test)

1201941
--0.08319875934010072--
--0.16639751868020144--
--0.24959627802030215--
--0.3327950373604029--
--0.4159937967005036--
--0.4991925560406043--
--0.582391315380705--
--0.6655900747208058--
--0.7487888340609065--
--0.8319875934010073--
--0.9151863527411079--
--0.9983851120812086--

In [67]:
Xt.head()

,pageId,userId,adId,advertiserId,campaignId,website,publisher,widgetId
0,0.173228,0.136364,0.102113,0.163101,0.117260,0.215224,0.217140,0.157221
1,0.181818,0.250000,0.083832,0.163101,0.117260,0.215224,0.217140,0.201926
2,0.241758,0.250000,0.278444,0.252759,0.298828,0.273774,0.273774,0.306110
3,0.228916,0.333333,0.223507,0.203040,0.207664,0.242425,0.242421,0.310760
4,0.236264,0.181818,0.162452,0.162452,0.162452,0.233589,0.233589,0.189627

In [68]:
dftestY["clicked"] -= 1

NameError: name 'dftestY' is not defined

In [82]:
clf.score(Xt , y_test['probability'])

-0.11253593592783306

In [72]:
len(y_test[y_test['clicked']==1])/len(y_test)

0.7771695948470017

In [73]:
dftest = pd.read_csv('../datadays2020/click_test.csv')
dftest.head()

   displayId  adId
0     151650  7585
1     151650  6257
2     151650  6690
3     151938  7454
4     151938  7370

In [74]:
prev = len(dftest)
dftest = pd.merge(dftest , dfevent , on='displayId' , how='left')
after = len(dftest)
assert prev == after
prev = len(dftest)
dftest = pd.merge(dftest , dfweb , on='pageId' , how='left')
after = len(dftest)
assert prev == after
prev = len(dftest)
dftest = pd.merge(dftest , dfad , on='adId' , how='left')
after = len(dftest)
assert prev == after
dftestX = dftest[features+['displayId']]
dftestY = dftrain[['displayId' , 'adId' , 'clicked']]
dftestX.head()

,pageId,userId,adId,advertiserId,campaignId,website,publisher,widgetId,displayId
0,4095035,10279,7585,7762,2292,4600,1098,8107,151650
1,4095035,10279,6257,4726,1083,4600,1098,8107,151650
2,4095035,10279,6690,6040,2911,4600,1098,8107,151650
3,4273336,17723,7454,6578,7426,13,12,10142,151938
4,4273336,17723,7370,3216,741,13,12,10142,151938

In [75]:
Xtest = create_real_train(features , column_names , dftestX)

1199048
--0.0833994969342345--
--0.166798993868469--
--0.25019849080270345--
--0.333597987736938--
--0.4169974846711725--
--0.5003969816054069--
--0.5837964785396415--
--0.667195975473876--
--0.7505954724081104--
--0.833994969342345--
--0.9173944662765794--

In [119]:
Xtest.head()

     pageId    userId      adId  advertiserId  campaignId   website
0  0.220000  0.000000  0.000000      0.115254    0.000000  0.227733
1  0.220000  0.000000  0.205696      0.149946    0.149946  0.227733
2  0.220000  0.000000  0.331361      0.257631    0.236857  0.227733
3  0.218444  0.142857  0.000000      0.140221    0.118442  0.233812
4  0.218444  0.142857  0.000000      0.190286    0.000000  0.233812

In [46]:
Xtest.to_csv('../temp/testtemp.csv')

In [76]:
Xtest['rank'] = clfc.predict(Xtest)

In [77]:
Xtest.head()

,pageId,userId,adId,advertiserId,campaignId,website,publisher,widgetId,rank
0,0.220000,0.000000,0.000000,0.115254,0.000000,0.227733,0.227733,0.309909,1
1,0.220000,0.000000,0.205696,0.149946,0.149946,0.227733,0.227733,0.309909,1
2,0.220000,0.000000,0.331361,0.257631,0.236857,0.227733,0.227733,0.309909,2
3,0.218444,0.142857,0.000000,0.140221,0.118442,0.233812,0.233812,0.225087,1
4,0.218444,0.142857,0.000000,0.190286,0.000000,0.233812,0.233812,0.225087,1

In [51]:
Xtest.iloc[0]['rank']

0.0

In [122]:
diad={}
for i,r in dftest.iterrows():
    if r['displayId'] in diad:
        diad[r['displayId']].append(i)
    else:
        diad[r['displayId']] = [i,]

In [124]:
for i in diad:
    diad[i] = sorted(diad[i] , key =lambda x: -1 * Xtest.iloc[x]['rank'] )

In [125]:
len(dftest)

1199048

In [126]:
arr = np.zeros(len(dftest))

In [127]:
arr.shape

(1199048,)

In [128]:

for i,r in dftest.iterrows():
    arr[i] = diad[r['displayId']].index(i) + 1

In [129]:
dftest['ranked'] = arr

In [133]:
dftest.to_csv('../submit/sub3.csv',header=None,index=False)

In [131]:
len(dftest)

1199048

In [132]:
dfsub = dftest[['displayId' , 'adId' ,'ranked']]

In [134]:
dfsub['ranked'] = dftest['ranked'].apply(lambda x : int(x) )
dfsub.head()

c:\users\sajjad\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   displayId  adId  ranked
0     151650  7585       3
1     151650  6257       2
2     151650  6690       1
3     151938  7454       5
4     151938  7370       3

In [75]:
len(dfsub)

1199048

In [136]:
dfsub.to_csv('../submit/sub3.csv',header=None,index=False)

## Using Smoothing

In [144]:
def compare(t1 ,t2 , c):
    l=[]
    for i in range(len(t1)):
        if t1.iloc[i][c]!=t2.iloc[i][c]:
            l.append(i)
    return l

In [137]:
t1 = pd.read_csv('../submit/sub1.csv')
t2 = pd.read_csv('../submit/sub3.csv')

In [138]:
t1.head()

   151650  7585  3
0  151650  6257  2
1  151650  6690  1
2  151938  7454  3
3  151938  7370  4
4  151938   123  2

In [141]:
t2.columns

Index(['151650', '7585', '3'], dtype='object')

In [145]:
ls = compare(t1 , t2 ,'3')

In [146]:
len(ls)

584006